[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
[submodule "vim/bundle/Vundle"]
	path = vim/bundle/Vundle
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "itg.zsh-theme"]
	path = itg.zsh-theme
	url = git@github.com:itsthatguy/itg.zsh-theme.git
