[submodule "vim/bundle/Vundle.vim"]
  path = vim/bundle/Vundle.vim
  url = git@github.com:gmarik/Vundle.vim.git
  ignore = dirty
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "hyper_plugins/local/hyper-image-cursor"]
	path = hyper_plugins/local/hyper-image-cursor
	url = git@github.com:itsthatguy/hyper-image-cursor.git
