[submodule "vim/bundle/Vundle.vim"]
  path = vim/bundle/Vundle.vim
  url = git@github.com:gmarik/Vundle.vim.git
  ignore = dirty
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "itg.zsh-theme"]
  path = itg.zsh-theme
  url = git@github.com:itsthatguy/itg.zsh-theme.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
