packages: [
  "align-imports"
  "align-regexp"
  "aligner"
  "aligner-javascript"
  "atom-beautify"
  "atom-erb"
  "atom-fuzzy-grep"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-sort-sass"
  "atom-vim-colon-command-on-command-pallete"
  "bottom-dock"
  "busy-signal"
  "chmod"
  "clipboard-plus"
  "color-picker"
  "ex-mode"
  "git-blame"
  "git-time-machine"
  "goto-definition"
  "hyperclick"
  "intentions"
  "itg-dark-syntax"
  "itg-flat-dark"
  "js-hyperclick"
  "language-babel"
  "language-docker"
  "language-generic-config"
  "language-gradle"
  "language-haml"
  "language-markdown"
  "language-nginx"
  "language-viml"
  "linter"
  "linter-eslint"
  "linter-tslint"
  "linter-ui-default"
  "lipsum"
  "merge-conflicts"
  "move-panes"
  "navigate"
  "nerd-treeview"
  "package-sync"
  "pigments"
  "pretty-json"
  "rails-model-schema"
  "react-es6-snippets"
  "react-redux-snippets"
  "rspec"
  "ruby-bundler"
  "ruby-test"
  "seti-icons"
  "sort-lines"
  "tabularize"
  "toggle-markdown-task"
  "tree-view-git-status"
  "vim-mode-clipboard-plus"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
  "vim-mode-plus-move-selected-text"
  "vim-modeline"
]
